<mat-toolbar color="primary">
    <button (click)="navigateToDashboard()" mat-icon-button>
        <mat-icon fontIcon="home"></mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon fontIcon="menu"></mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Admin</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="language">
          <mat-icon>language</mat-icon>
          <span>Language</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
    </mat-menu>
    <mat-menu #language="matMenu">
        <button *ngFor="let lang of translate.getLangs()" [value]="lang" (click)="translate.use(lang)" mat-menu-item>
          <mat-icon>{{ lang === translate.currentLang ? 'done' : '' }}</mat-icon>
          <span>{{lang}}</span>
        </button>
    </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
