img {
    padding-right: 16px;
}

.users-amount {
    display: flex;
    align-self: flex-start;
    margin-left: 30.4%;
    margin-bottom: 34px;
}

.users-list-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    position: relative;
}

.users-list-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    transition: red 1s, border 1s;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.users-list-item-container {
    display: flex;
    width: 100%;
}

.users-list-item-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
}