@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a {
    text-decoration: none;
    color: black;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

mat-card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
}

mat-card-title {
    padding-top: 16px;
    padding-bottom: 16px;
}

.svg {
    margin-top: 20px;
}


/* mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;  
    margin: 16px;
} */
