<div class="card-container">
<!-- categories -->
    <div class="card-content-item">
        <a routerLink="/categories">
            <mat-card>
                <app-svg-icon class="svg" name="categories"></app-svg-icon>
                <mat-card-title>Categories</mat-card-title>
                <mat-card-content>
                    <p>
                        Categories module provides functionality for manipulating product categories.
                        Users use categories to group their products in their shopping card.
                    </p>
                    <p>
                        You are permitted to read, create, update and delete categories.
                    </p>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
<!-- shopping-lists -->
    <div class="card-content-item">
            <a routerLink="/shopping-lists">
            <mat-card>
                <app-svg-icon class="svg" name="shopping"></app-svg-icon>
                <mat-card-title>Shopping lists</mat-card-title>
                <mat-card-content>
                    <p>
                        Shopping list module allows to create, update and delete yout lists.
                        Group your products by categories and feel free to share your lists with other users.
                    </p>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
<!-- users -->
    <div class="card-content-item">
        <a routerLink="/users">
            <mat-card>
                <app-svg-icon class="svg" name="users"></app-svg-icon>
                <mat-card-title>Users</mat-card-title>
                <mat-card-content>
                    <p>
                        Users module allows to manipulate users data.
                        You can update or delete user.
                    </p>
                    <p>
                        As an admin you are permitted to read, update and delete users.
                    </p>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</div>
