<h1 mat-dialog-title>Create a new category</h1>
<div mat-dialog-content>
  <form [formGroup]="categoryForm">
    <mat-form-field hintLabel="Use only lowercase latin and '_' symbols" [style.width.%]="100" appearance="fill">
      <mat-label>Unique key</mat-label>
      <input matInput formControlName="uniqueKey" maxlength="64" required>
      <mat-hint [align]="'end'">1/64</mat-hint>
      <!-- <mat-hint align="end">{{input.value.length}}/10</mat-hint> -->
  </mat-form-field>
  <div class="category-name">
      <mat-form-field appearance="fill">
          <mat-label>Name (en)</mat-label>
          <input matInput formControlName="nameEn" maxlength="128" required>
          <mat-hint [align]="'end'">1/128</mat-hint>
          <!-- <mat-hint align="end">{{input.value.length}}/128</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Name (ru)</mat-label>
          <input matInput formControlName="nameRu" maxlength="128" required>
          <mat-hint [align]="'end'">1/128</mat-hint>
          <!-- <mat-hint align="end">{{input.value.length}}/128</mat-hint> -->
      </mat-form-field>
  </div>
  <mat-form-field [style.width.%]="100" appearance="fill">
      <mat-label>Image</mat-label>
      <input matInput formControlName="image" maxlength="256" placeholder="Placeholder" required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint [align]="'end'">1/256</mat-hint>
      <!-- <mat-hint align="end">{{input.value.length}}/10</mat-hint> -->
  </mat-form-field>
  <!-- <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Favorite Fruits</mat-label>
      <mat-chip-grid #chipGrid aria-label="Fruit selection">
        <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
          {{fruit}}
          <button matChipRemove [attr.aria-label]="'remove ' + fruit">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input formControlName="tags" placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"/>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
          {{fruit}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-button (click)="resetDialog()">Reset</button>
    <button mat-button (click)="canselDialog()">Cansel</button>
    <button mat-raised-button color="primary" (click)="addCategory()">{{ actionButton }}</button>
</div>